.nav{
    background-color: rgb(36, 103, 227);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.nav .left_side{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav .left_side img{
    width: 150px;
    margin-left: 10px;
}
.nav .left_side .tools img{
    width: 30px;
    cursor: pointer;
    margin-right: 15px;
}
.nav .right_side {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav .right_side input{
    width: 300px;
    height: 35px;
    padding: 15px;
    font-size: 17px;
    border-radius: 15px;
    border: none;
    outline: none;
}
.nav .right_side img{
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.right_side .profileIcon{
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.right_side .profileIcon img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media (max-width : 800px) {
    .nav .right_side input{
       width: 200px;
    }
    .nav .left_side .tools .hide-low-device{
        display: none;
    }
}

@media (max-width : 500px) {
    .nav .right_side input{
       width: 100px;
    }
}